<form action="/add_event" method="post">
  <div> {{ msg }} </div>
  <input id="name" name="name" type="text" placeholder="Enter Event Name" class="textbox"/></br></br>
  <input id="date" name="date" type="text" placeholder="YYYY-MM-DD" class="textbox"/></br></br>
  <!-- <input id="year" name="year" type="text" placeholder="Enter Year YYYY" class="textbox"/></br></br> -->
  <!-- <input id="month" name="month" type="text" placeholder="Enter Month MM" class="textbox"/></br></br> -->
  <!-- <input id="day" name="day" type="text" placeholder="Enter Day DD" class="textbox"/></br></br> -->
  <input type="submit" class="btn" value="Add Event"></br>
</form>

<button onclick="location.href='/events'" type="button"> Events Page </button>
