<form action="/create_account" method="post">
  <div> {{ msg }} </div>
<input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
<input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
<input id="repeat_password" name="repeat_password" type="password" placeholder="Password Again" class="textbox"/></br></br>
<input type="submit" class="btn" value="Sign Up"></br>
<button onclick="location.href='/'" type="button"> Home Page </button>
</form>
